$box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

.plugin-container {
    background-color: rgb(193, 164, 24);
    // max-width: 1400px;
    max-width: 100%;
    margin: auto;
    padding: 2rem;
}
@import "layouts/daily-log-archive";