.habit-archive-container {
    display: flex;

    .left,
    .right {
        width: 50%;
        border: 1px solid #f2f2f2;
        padding: 1rem;

        // Right-specific styles
        &:nth-child(2) { // Assuming .right is always the second child
            border-left: none;
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }
    }

    // Styling for .yes and .no classes
    .yes {
        background-color: #005900; // Light green
        color: white;
    }

    .no {
        background-color: #ee0000; // Light red
        color: white;
    }
}
