$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

.plugin-container {
    max-width: 1400px;
    margin: auto;
    padding: 2rem;
    box-shadow: $box-shadow;
    margin-top: 1rem;
    border: 1px solid#f2f2f2;
}
@import "layouts/daily-log-archive";