.plugin-container {
  background-color: crimson;
  max-width: 1400px;
  margin: auto;
  padding: 2rem;
  margin-top: 1rem;
}

.daily-log-component .component {
  padding: 2rem;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.daily-log-component .graph {
  margin-bottom: 2rem;
}
.daily-log-component form {
  margin: 2rem 0px;
  font-size: 24px;
  font-weight: bold;
}
.daily-log-component table {
  text-align: center;
  font-size: 12px;
}
.daily-log-component table td {
  border: 2px solid rgba(0, 0, 0, 0.45);
  padding: 1rem 0.2rem;
}
.daily-log-component table .yes {
  background-color: #d1e7dd;
}
.daily-log-component table .no {
  background-color: #f8d7da;
}