.plugin-container {
  background-color: violet;
  max-width: 1400px;
  margin: auto;
  padding: 2rem;
}

.daily-log-component .component {
  padding: 2rem;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.daily-log-component .graph {
  margin-bottom: 2rem;
}
.daily-log-component .dash-panel {
  display: flex;
  margin-bottom: 2rem;
  gap: 10px;
}
.daily-log-component .dash-panel form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  font-size: 16px;
  font-weight: bold;
}
.daily-log-component .dash-panel form input[type=submit][value=Filter] {
  padding: 1rem;
}
.daily-log-component .dash-panel form .filter-date-selection {
  margin-bottom: 1rem;
}
.daily-log-component .dash-panel form .filter-date-selection .end-date, .daily-log-component .dash-panel form .filter-date-selection .start-date {
  display: flex;
  justify-content: space-between;
}
.daily-log-component .dash-panel form .filter-date-selection .start-date {
  margin-bottom: 10px;
}
.daily-log-component .dash-panel .panel-group {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.daily-log-component .dash-panel .panel-group .panel {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  padding: 2rem;
  text-transform: capitalize;
}
.daily-log-component .dash-panel .panel-group .panel h3 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.daily-log-component .dash-panel .panel-group .panel span, .daily-log-component .dash-panel .panel-group .panel p, .daily-log-component .dash-panel .panel-group .panel li {
  font-size: 13px;
}
.daily-log-component .dash-panel .panel-group .panel ul {
  list-style-type: none;
}
.daily-log-component table {
  text-align: center;
  font-size: 12px;
}
.daily-log-component table tr a {
  font-size: 1rem;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1rem 0.2rem;
}
.daily-log-component table td {
  border: 1px solid rgba(0, 0, 0, 0.45);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.daily-log-component table .yes {
  background-color: #d1e7dd;
}
.daily-log-component table .no {
  background-color: #f8d7da;
}