.habit-archive-container {
  display: flex;
}
.habit-archive-container .left,
.habit-archive-container .right {
  width: 50%;
  border: 1px solid #f2f2f2;
  padding: 1rem;
}
.habit-archive-container .left:nth-child(2),
.habit-archive-container .right:nth-child(2) {
  border-left: none;
}
.habit-archive-container table {
  border-collapse: collapse;
  width: 100%;
}
.habit-archive-container table th,
.habit-archive-container table td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
.habit-archive-container .yes {
  background-color: #005900;
  color: white;
}
.habit-archive-container .no {
  background-color: #ee0000;
  color: white;
}