.daily-log-component {
  form {
    margin: 2rem 0px;
    font-size: 16px;
  }
  table {
    text-align: center;
    font-size: 12px;
    .yes {
      background-color: rgb(0, 80, 0);
      color: white;
    }
    .no {
      background-color: #DC143C;
      color: white;
    }
  }
}